<launch>
    <arg name="robot" default="apollo.local" doc="robot address"/>

    <machine name="turtlebot" user="ubuntu" address="$(arg robot)" env-loader="/home/ubuntu/loader.sh" default="true"/>

    <node machine="turtlebot" pkg="rosserial_python" type="serial_node.py" name="apollo_core">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>

    <node machine="turtlebot" pkg="hls_lfcd_lds_driver" type="hlds_laser_segment_publisher" name="hlds_laser_segment_publisher" >
        <param name="frame_id" value="base_scan"/>
    </node>
</launch>