<launch>
    <arg name="simulate" default="true" doc="launch simulation"/>
    <arg name="robot" default="apollo.local" doc="robot address"/>
    <rosparam param="dist_thres">0.06</rosparam>

    <!-- simulation -->
    <group if="$(arg simulate)">
        <include file="$(find nurtlesim)/launch/tube_world.launch" >
            <arg name="use_rviz" value="false" />
        </include>
        <node name="landmarks" type="nuslam_landmarks" pkg="nuslam" output="screen"/>
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuslam)/config/circles.rviz"/>
    </group>

    <!-- real deal -->
    <group unless="$(arg simulate)">
        <machine name="turtlebot" user="ubuntu" address="$(arg robot)" env-loader="/home/ubuntu/loader.sh" default="true"/>
        <include file="$(find nuturtle_robot)/launch/odom_teleop.launch" >
            <arg name="robot" value="$(arg robot)" />
        </include>
        <node machine="turtlebot" name="landmarks" type="nuslam_landmarks" pkg="nuslam" />
    </group>
</launch>