
<launch>
  <arg name="use_js" default="true" doc='launches joint_state_publisher' />
  <arg name="use_rviz" default="true" doc='launches rviz and joint_state_publisher'/>
  <arg name="multi_robot_name" default="" doc='sets tf_prefix if launching multiple robots'/>

  <rosparam file='$(find nuturtle_description)/config/diff_params.yaml' />
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro'" doc='urdf file for robot'/>
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <group if='$(arg use_rviz)'>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" if='$(arg use_js)'>
      <param name="use_gui" value="true"/>
      <param name="rate" value="50"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuturtle_description)/config/model.rviz"/>
  </group>
</launch>